.ic-form input,
.ic-form textarea,
.ic-form button,
.ic-form select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}
.ic-form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.ic-form__field {
    position: relative;
    width: calc(50% - 4px);
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    border: 1px solid #E9ECEF;
}
.ic-form__field.prop_email {
    width: 100%;
}
.ic-form input {
    border: none;
}
.ic-form__field input {
  height: 48px;
}


.ic-form__field label {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 14px;
  color: #ADB5BD;
  background-color: white;
  padding: 0 4px;
  transition: 0.2s ease;
  pointer-events: auto;
  cursor: pointer;
  z-index: 2;
}

.ic-form__field input,
.ic-form__field textarea {
    font: 400 14px / 130% "Golos Text", sans-serif;
    width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: content-box;
}
.ic-form__field input::placeholder, 
.ic-form__field textarea::placeholder {
    color: transparent;
}

.ic-form__field input:focus + label,
.ic-form__field input:not(:placeholder-shown) + label,
.ic-form__field textarea:focus + label,
.ic-form__field textarea:not(:placeholder-shown) + label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #333;
}
.ic-form__field--textarea {
    width: 100%;
}

.ic-form textarea {
    padding: 14px 0;
    border: none;
    outline: none;
}
.ic-form__field textarea {
    min-height: 100px;
    resize: vertical;
}

.form-required 
{
	color: red;
}
input.ic-form__submit {
    width: 160px;
    height: 48px;
    padding: 15px 0;
    background-color: #F4F7FA;
    color: #495057;
}
.ic-form__required-note {
    width: 100%;
    font-size: 12px;
    color: #ADB5BD;
}
.ic-form__errors {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 130%;
}

